/* Global Styles */



html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Maven Pro', sans-serif;  
}

.brand {
  font-size: 5em;
  font-weight: 900;
  padding:15px;

}

.vert-text a {
  color: #fff;
}

.navbar {
  margin-top:1.5%;
}
.navbar a {
  color: #fff;
}

.navbar-brand {
  font-size: 35px;
  font-weight: 900;
  background-color: black;
}

.navbar-nav>li {
  font-size: 20px;
  font-weight:600;
}

h1.helloWorld {
  color: white;
  font-weight: 900;
  font-size: 5em;
  text-shadow: 3px 5px #121212;

}

h2.helloWorld {
  color: white;
  font-weight: 900;
  font-size: 3em;
  text-shadow: 3px 5px #121212;

}

.myLinks li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
  font-size: 2em;
  font-weight:600;
  text-shadow: 2px 2px #121212;

}
h3.helloWorld {
  color: white;
  font-weight: 700;
  font-size: 2em;

}

h1 {
  font-size:45px;
  color:black; 
  font-weight:400;

}

h2{
  font-size: 3em;  /*color:#E6B85C; */
  margin:auto;
  font-weight:800;

}

h3,
h4,
h5,
.h6 {
  color: #003A70;  /*blue*/
}

hr {
    margin-top: 5%;
  margin-bottom: 5%;
}

p {
  font-weight:400;
  line-height: ;
  color:black;  /*grey*/
  font-size:20px;
}

#footer-links {
  background-color: black;
  text-align: center;


}


/* Full Page Image Header Area */
.header { 
  display: table;
  height: 100%;
  width: 100%;
  position: relative;
  background: url(../img/backgrounds/8.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}

.vert-text {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  background: rgba(0, 0, 0, .2);
}

/* Experience and Project Area */

.experience, .project {
  display: table;
  height: 25%;
  width: 100%;
  position: relative;

  background:black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


.testing th, .testing td {
  border: 1px solid black;
  text-align: center;
}







.navbar-default .navbar-nav > li > a {
  color: #999;
}
.navbar-default .navbar-nav > li > a:hover, 
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a.navbar-active {
  color: #003399;
}

.transparent {
  background-color: transparent;
  border: none;
}

.transparent-active {
  background-color: white;
  border-bottom: 1px solid black;
}




/* Intro */
.intro {
  padding-top:80px;
  padding-bottom:100px;
}
.intro img {
  width:250px;
  border-radius: 100%;

}

.col-centered{
    float: none;
    margin: 0 auto;
}





.top-button {
  margin-top:2%;
  float:right;

}

.section {
  height:45px;
  width:90px;
  background-color: black;
  float:left;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;

  color: white;
  vertical-align: middle;


}

/*.section h4 {
  color: white;
  vertical-align: middle;
  font-size:20px;
  text-align: center;

}*/

/* Responsive */

@media (max-width: 768px) {
       
  .header {
  background: url(../img/coverPhoto.jpg) no-repeat center center scroll; 
  }

